/* 引入css */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.myimg {
    width: 38px;
    height: 38px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #003cb3;
}

.friendscircledate {
    font-size: 10px;
}

.head_wrapper {
    text-align: right;
    height: 68px;
    /*background: url("~@/assets/bgpic.png") no-repeat;*/
    /*background: url("http://localhost:3001/Pic/BgImage/pyqdefaultbg.png") no-repeat;*/
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
}

.cellspantitleclass {
    color: green;
}


.bbsusername {
    font-size: 16px;

    color: #003cb3;
}
