/* 引入css */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.myimg {
    width: 38px;
    height: 38px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #003cb3;
}

.friendscircledate {
    font-size: 10px;
}

.head_wrapper {
    text-align: right;
    height: 68px;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background: url("~@/assets/bgpic.png") no-repeat;*/
    /*background: url("http://localhost:3001/Pic/BgImage/pyqdefaultbg.png") no-repeat;*/
}

.cellspantitleclass {
    color: green;
}


.bbsusername {
    font-size: 16px;

    color: #003cb3;
}


/*.demo01 {*/
/*    !*width: 600px;*!*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

/*.demo01 .left {*/
/*    width: 100%;*/
/*    float: left;*/
/*    !*overflow:hidden;*!*/
/*}*/

/*.demo01 .right {*/
/*    position: absolute;*/
/*    right: 2px;*/
/*    top: 1px;*/
/*    !*font-size: 12px;*!*/
/*}*/
